<style type="text/css">
   body { background-color: #D8D8D8; }
</style>
    <div class="btn-group">
    <%= link_to 'Home', root_url, class: "btn btn-info" %>
    <%= link_to 'About', about_url, class: "btn btn-info" %>
    <button class="btn btn-info">Terms</button>
     <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            English
            <span class="caret"></span>
    </a>
            <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            </ul>
    </div>

<p></p>
<hr>
    <div class="jumbotron">
        <FONT size = "20">What is FitApp all about?</FONT>
        <p></p>
    </div>
	</br>
    <div class ="bullet point">
    	    <div class="alert alert-info">
    	<font><b>Personalize!</b> Create a unique profile to share your exercising activities</font>
    		</div>
    <div class="alert alert-info">
    	<font><b>Communicate!</b> Connect with your friends as well as find new people with similar interests</font>
    </div>
    <div class="alert alert-info">
    	<font><b>Share!</b> Upload your pictures, workouts and diets for other users to share</font>
    </div>
    </div>
 </hr>
