
<style type="text/css">
   body { background-color: #D8D8D8; }
</style>



<h1></h1>


    <div class="btn-group">
    <button class="btn btn-info">Home</button>
    <button class="btn btn-info">About</button>
    <button class="btn btn-info">Terms</button>
     <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            English
            <span class="caret"></span>
    </a>
            <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            </ul>
    </div>

<p></p>

      <hr>

      <div class="jumbotron">
        <FONT size = "20">Join one of the fastest growing fitness</FONT>
        <p></p>
        <FONT size = "20">communities!</FONT>
        <p></p>
        <p class="lead">Fit app provides an easy to use way to communicate with fellow 
            exercise enthusiasts. Add pictures, update status, read up on friend's workouts and
            follow motivation figures. Find out what everyone in the gym is talking about by
            signing up!</p>
        <div class="row">
         <div class="span3 offset4">
         <button type="button" class="btn btn-large btn-primary" data-loading-text="Log IN" button style="background-color:5686E6" ><FONT COLOR="000000">Sign up today!</FONT></button>
        </div>
      </div>
     </div>

      <hr>

<p></p>

    <div class="row">
         <div class="span8 offset1">
            <h3>Already a member?!</h3>
         </div>
    </div>

<div class="row">
    <div class="span8">

        <form class="form-horizontal">
        <div class="control-group">
        <label class="control-label" for="inputUsername">Username</label>
        <div class="controls">
        <input type="text" id="inputUsername" placeholder="Username">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">
        <label class="checkbox">
        <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn btn-success">Log in</button>
        </div>
        </div>
        </form>
    </div>

    <div class="span4">
    <!--<img src="home/alex/project/app/assets/images/Weightlifting_Icon.jpg" width="304" height="228"> </img>-->
    <img src="http://www.best-of-web.com/_images_300/Weightlifting_Icon_Showing_a_Hand_Holding_Up_a_Barbell_110110-127308-708042.jpg", width="200" , height="200" class="img-circle"> </img>
    </div>

</div>

    <hr>
    <div class="footer">
        <p>&copy; Fit App 2012</p>
    </div>
    </hr>

