<style type="text/css">
   body { background-color: #D8D8D8; }
   #div1{margin-left:180px;}
   #div2{background-color: #f5f5f5;padding:40px;}
</style>
<h1></h1>

    <div class="span6", id="div2">

        <form class="form-horizontal">

       
        <div class="control-group">
        <label class="control-label" for="signupEmail">Email</label>
        <div class="controls">
        <input type="text" id="signupEmail" placeholder="Email">
       
        </div>
    </div>
        <div class="control-group">
        <label class="control-label" for="signupUsername">Username</label>
        <div class="controls">
        <input type="text" id="signupUsername" placeholder="Username">
       
        </div>
    </div>
        <div class="control-group">
        <label class="control-label" for="signupPassword">Password</label>
        
        <div class="controls">
        <input type="password" id="signupPassword" placeholder="Password">
        </div>
        </div>
         <div class="control-group">
        <label class="control-label" for="signupPassword">Password Confirm</label>
        
        <div class="controls">
        
        <input type="password" id="signupPassword" placeholder="Password Confirm">
        </div>
        </div>
        
        <div id="div1">
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn">Cancel</button>
    </div>

        </div>
   
        </form>
    </div>
