<li>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
  	<font color ="green">
    Posted <%= time_ago_in_words(post.created_at) %> ago. </font>
  	</span>
       <FONT color="black"> | </FONT>
       <FONT class="text-warning">Comment</FONT> 
       <p></p>
</li>