<li>
  <span class="name"><%= diet.name %></span>
  <span class="time"><%= diet.time %></span>
  <span class="info"><%= diet.info %></span>
  <span class="Id"><%= diet.user_id %></span>
       <FONT class="text-warning">Comment</FONT> 
       <p></p>
</li>